body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*Menu Lateral*/
#menu{
    background-color: gray;
    width: 250px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
}

#menu h1{
    color: black;
    text-align: center;
}

#menu p{
    color: white;
}

#menu a{
    color: black;
    display: block;
    text-decoration: none;
    padding: 12px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}

#menu a:hover{
    background-color: black;
    color: dimgray;
}

/*Conteudo*/

#conteudo{
    margin-left: 310px;
    padding: 20px;
}

.secao{
    background-color: white;
    border-left: 6px solid rgb(25, 39, 39);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.secao h2{
    color: black;
}

.secao p{
    color: black;
    margin: 5px;
}

.secao li{
    color: black;
    margin: 5px;
}